table, tr, td {
  border: 1px solid black
}
td {
  text-align: center;
  width: 30px;
}
table{
  border-collapse: collapse;
  margin-left:auto;
  margin-right: auto;
}

.bgBlue {
  background-color: lightblue;
}
.bgGray{
  background-color: grey;
  font-weight: bold;
  
}

#title{
  text-align: center;
}


#output {
  text-align: center;
}